* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #FFFFF0;
}

.image-cam1 {
    border: 5px solid #50C878;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 5px #50C878;
}